/*css code achtergrond*/
body {
 background-image: url("../img/yellow.jpg");
 background-repeat: no-repeat;
 background-position: center;
 background-attachment: fixed;
 background-size: cover;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 font-family: Arial;
}
/*css code voor taakbalk*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ffcc00;
  border-radius: 4px;
  border: 1px solid black;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  border-radius:  0px;
}
/* veranderd de kleur bij overgaan met muis */
li a:hover:not(.active) {
  background-color: silver;
}
.active {
  background-color:black;
  color:white;
}
/* opmaak dropdown menu */

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: silver;
}
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffcc00;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: silver;}

.dropdown:hover .dropdown-content {
  display: block;
}
/* opmaak tabel portfolio */
table, td {
  border: 1px solid black;
  color:white;
  font-family: Arial;
  background-color: #ffcc00;
  margin:10px 0px;
  border-radius: 4px;
  text-align: center;
}
th {
  color:black;
  font-family: Arial;
  text-align: center;
}
/* opmaak zichtbare pdf: CV */
embed{
  margin: center;
  border-radius: 4px
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text], select, textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: white;
}

button[type=submit] {
  background-color: white;
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid black;
}

input, button[type=submit]:hover {
  background-color:silver;
  color:white;
}

.container {
  border-radius: 4px;
  background-color: #ffcc00;
  padding: 10px;
  border: 1px solid black;
}

